pandas
chromadb
chainlit==1.1.300rc4 # Only 300rc4 works for query params
langchain
langchain-community
langchain-chroma
langchain-core
langchain-openai
langchain-huggingface
openai
openpyxl
tiktoken
psycopg2 # for postgres

#wikipedia
#numexpr
langchainhub
#youtube-transcript-api
