pandas
chromadb
chainlit==1.1.300rc4 # Only 300rc4 works for query params
langchain
langchain-community
langchain-chroma
langchain-core
langchain-openai
openai
openpyxl
tiktoken
psycopg2 # for postgres
sentence-transformers # for sentence embeddings HuggingFace

#wikipedia
#numexpr
langchainhub
#youtube-transcript-api
