pandas
chromadb
chainlit
langchain
langchain-community
langchain-chroma
langchain-core
langchain-openai
#langchain-huggingface
openai
openpyxl
tiktoken
SQLAlchemy # for postgres
psycopg2 # for postgres
langchainhub
#youtube-transcript-api


